FORMAT: 1A
HOST: http://api.spiderlog.net

# Spider Log API

Provides services for the Spider Log app family, recording the world's spider sightings.

# Group Spiders 
Access to Spider resources

## My Spiders [/spiders{?page,size}]
### Get all my spider sightings [GET]

- Parameters
    - page (required, number, `1`)...  page number
    - size (required, number, `10`)... page size 
- Request

    - Header
    
            Authorization: basic dXNlcjpwYXNzd29yZA==
            x-api-version: 1.0

+ Response 200 (application/json)
    - Header
    
            ETag : "euyfewuyfvew76f7"
            cache-control: max-age=600
            
    - Body
    
            {
                "page": 
                {
                    "number": 1, 
                    "size": 10,
                    "totalPages": 20
                }, 
                "spiders":
                [
                    {
                    "sightedAt" : "2014-08-29T19:00",
                    "imageUrl" : "uid:34225/4699046e5d_z.jpg",
                    "description" : "Spider I saw at home",
                    "tags": [
                    "big",
                    "stripy"
                    },
                    {
                    "sightedAt" : "2014-08-29T19:00",
                    "imageUrl" : "uid:34225/4699046e5d_z.jpg",
                    "description" : "Spider I saw at home",
                    "tags": [
                    "big",
                    "stripy"
                    }            
                ]
            }